*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0px;
}

header{
    width: 100%;
    height: 800px;
    background-image: url("fondo4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

nav{
    position: relative;
}

.m-0{
    margin: 0px;
}

.logo{
    width: 75px;
    height: 75px;
}

ul{
    list-style-type: none;
    z-index: 999;
}

.mini-logo{
    width: 50px;
    height: 50px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-iten a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    font-weight: 800;
}

.star{
    justify-content: flex-start;
}

.input-redondo{
    padding: 10px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
}

::placeholder{
    color: white;
}

.boton{
    background-color: red;
    padding: 10px;
    border-radius: 25px;
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.opacidad{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: black;
    opacity: 0.3;
}

.p-1{
    padding: 2px;
}